!!!
%html{:lang => "ja"}
  %head
    %meta(charset="UTF-8")
  %body
    %p total is #{5 * 3}
    %p= Time.now
    - x = 5
    %p= x

    - (1..10).each do |a|
      -#%p= a
      %p{:id => "item_#{a}"} #{a}